#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  /* overflow-x: hidden; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.layout{
  display:flex;
  flex-direction: column;
}

.netflix-logo path{
  fill: #fff;
  /* fill: var(--pres-color); */
}

.mid-nav .nav-links{
  color:#d8d5d5
}

.mid-nav .nav-links.active{
  color:#fff;
}

.play-btn{
  letter-spacing: 0.2rem;
}
.category{
  /* color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem; */
  letter-spacing: 2px;
}

.poster-cont{
  /* height: 60%; */
  width: 100%;
}

.poster-cont img{
  width: 100%;
  height: 100%;
  /* clip-path: inset(0 0 28% 0 round 0px); */
  object-fit: cover;
  /* zoom: ; */
  
  aspect-ratio: 16/9;
  /* image-resolution: from-image;
  image-rendering: optimizeQuality; */
}

main{
  scroll-snap-type: mandatory;
  scroll-snap-points-y:100vh;
  scroll-snap-type: y mandatory;
}

main > div{
  scroll-snap-align: center;
}
.position{
  transform: rotate(-90deg);
  position: absolute;
  bottom:3rem;
  right:0px;
  /* left:0rem; */
}

.trailer-text{
  letter-spacing: 0.2rem;
}

.netflix-loading{
  animation: fade 0.7s infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: fade 0.7s infinite;
}

.netflix-loading path{
  fill: #fff;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* p,h1 ::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter:blur(120px);
  -webkit-filter: blur(12px);
  background-attachment: fixed;

} */
.backdrop > img{
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.banner > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}
.banner > #banner-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  background: black;
}
.backdrop > #backdrop-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*object-position: top;*/
  /*z-index: 0;*/
  top: 0;
  left: 0;
  position: absolute;
  background: black;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.exit-prop{
  animation-name: prop-out;
  /* animation-iteration-count: infinite; */
  animation-direction: normal;
  animation-timing-function: ease-out;
  /* animation-delay: 1s; */
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.enter-prop{
  animation-name: prop-in;
  /* animation-iteration-count: infinite; */
  animation-direction: reverse;
  animation-timing-function: ease-in;
  /* animation-delay: 1s; */
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.enter-banner {
    animation-name: slideIn;
    animation-direction: normal;
    animation-timing-function: ease-out;
    /*animation-delay: 10s;*/
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    /*animation-iteration-count: infinite;*/
}

.exit-banner {
    animation-name: slideOut;
    animation-direction: normal;
    animation-timing-function: ease-out;
    /*animation-delay: 0s;*/
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
  /*transform: translateX(-100%);*/
    /*animation-iteration-count: infinite;*/
}
.enter-backdrop{
  animation-name: slideInBackdrop;
  animation-direction: normal;
  animation-timing-function: ease-out;
  /*animation-delay: 10s;*/
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.exit-backdrop{
  animation-name: slideOut;
  animation-direction: normal;
  animation-timing-function: ease-out;
  /*animation-delay: 0s;*/
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
}

@keyframes slideIn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }

}
@keyframes slideInBackdrop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }

}

@keyframes prop-out {
  0%{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
  100%{
    transform: translateY(90%);
    -webkit-transform: translateY(90%);
    -moz-transform: translateY(90%);
    -ms-transform: translateY(90%);
    -o-transform: translateY(90%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
}
@keyframes prop-in {
  0%{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
  100%{
    transform: translateY(90%);
    -webkit-transform: translateY(90%);
    -moz-transform: translateY(90%);
    -ms-transform: translateY(90%);
    -o-transform: translateY(90%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
}